.about_container {
    display: grid;
    grid-template-columns: 30% 40% 30%;  /* Added 3rd column for the neural network */
    gap: 5%;  /* Reduced gap to fit all 3 columns */
}

.about_me {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    display: grid;
    place-items: center;
}

.about_me-img {
    top: 20%;
    width: 100%;  /* Adjust to match the size of neural network */
    height: auto;  /* Maintain aspect ratio */
    border-radius: 2rem;
    overflow: hidden;
    transition: var(--transition);
}



#about {
    position: relative;
}
#neural-network-svg {
    position: absolute;
    top: 2%;
    right: -1%;  /* Slight move to the left but ensuring no overlap with text */
    width: 500px;
    height: 700px;
    transform: rotate(90deg) scale(1, 0.8);  /* Rotate 90 degrees, uniform scaling */
    z-index: 0;
}
.neuron, .link {
    transition: all 0.5s ease-out;
}

@keyframes neuronPulse {
    0% { r: 10px; }
    50% { r: 12px; }
    100% { r: 10px; }
}

@keyframes linkGlow {
    0% { opacity: 0.6; }
    50% { opacity: 0.8; }
    100% { opacity: 0.6; }
}

.link {
    filter: url(#glow);
    animation: linkGlow 1s infinite;
}

.neuron {
    animation: neuronPulse 1s infinite;
}


.about_me-img {
    border-radius: 2rem;
    overflow: hidden;
    transform: scale(1.5);
    transition: var(--transition);
}

.about_me-img:hover {
    transform: scale(0);
        transition: var(--transition);
}

.about-description {
    margin: 1rem -5rem 2.6rem;
    color: var(--color-light);
}

.about-description ul {
    padding-top: 20px;
    padding-bottom: 20px;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 300px));
  }

.about-description li {
    position: relative;
    padding-left: 20px;
    font-size: 18px;
  }
  
.about-description li::before {
    content: "▹    ";
    color: var(--color-primary);
    position: absolute;
    left: 0;
  }


  

/* ====== MEDIA QUERIES (MEDIUM DEVICES) ======== */
@media screen and (max-width: 1024px) {
    .about_container {
        grid-template-columns: 1fr;
        gap:0;
    }
    .about_me {
        width: 50%;
        margin: 0.5rem auto 4rem;
}
    .about-description {
        margin: 1rem 1.5rem 1.5rem;
    }

    .about_me-img {
        transform: scale(1.2);
    }
}

/* ====== MEDIA QUERIES (SMALL DEVICES) ======== */
@media screen and (max-width: 600px) {
    .about_me {
        width: 65%;
        margin: -3rem auto 3rem;
    }
    .about-description {
        text-align: center;
    }
}

@media screen and (max-width: 1300px) {
    #neural-network-svg {
        display: none;  /* Hide the neural network graphic for viewports less than 1300px wide */
    }
}