.timeline {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 4px;
  background: #c5c5c5;
}

.job {
  position: relative;
  margin: 20px 0;
  padding: 10px;
}

.job.left {
  padding-right: 40px;
}

.job.right {
  padding-left: 40px;
}

.job .job_title,
.job .job_company,
.job .job_duration {
  display: block;
}

.job_description {
  display: none; /* Initially hide all job descriptions */
  transition: all 0.3s ease-in-out;
}

.circle {
  position: absolute;
  top: 10px;
  width: 20px;
  height: 20px;
  background: #c5c5c5;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.job.left {
  padding-right: 40px;
  text-align: right;
}

.job.right {
  padding-left: 40px;
  text-align: left;
}

.job.left .circle {
  right: -30px;
}

.job.right .circle {
  left: -30px;
}

.circle:hover + .job_description {
  display: block; /* Display the job description when hovering over the circle */
}

.timeline.job-hovered::before {
  background: transparent;
}

.job_description {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.circle:hover + .job_description {
  opacity: 1;
  visibility: visible;
}