.eulers-equation {
  font-family: "NTR", sans-serif;
  font-size: 1.8rem;  
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  margin-top: -40px;  
  letter-spacing: 2px;
  transition: opacity 1s ease-in-out;  
}
.eulers-description {
  font-family: "NTR", sans-serif;
  font-size: 1rem; /* Adjust the font size as needed */
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 8px; /* Adjust the margin as needed */
  letter-spacing: 1px;
  line-height: 1.6; /* Adjust the line-height for structured display */
  max-width: 750px; /* Set a maximum width for the paragraph */
  margin-left: auto; /* Center the paragraph horizontally */
  margin-right: auto; /* Center the paragraph horizontally */
}

/* Hide description for screens less than 600px wide */
@media screen and (max-width: 600px) {
  .eulers-equation {
    display: none;
}
  .eulers-description {
      display: none;
  }
}


@media screen and (max-width: 1024px) {
  .eulers-equation {
    display: none;
}
  .eulers-description {
    display: none;
}
}