header {
    height: 110vh;
    padding-top: 7rem;
    overflow: visible;
}
/* Add this CSS code for the fade-in effect */
.header__container {
    text-align: center;
    height: 115%;
    position: relative;
    opacity: 0; /* Initially set opacity to 0 */
    transform: translateY(20px); /* Initially move it down a bit */
    transition: opacity 1s ease, transform 1s ease; /* Add transitions for opacity and transform */
    padding-left: 0;
    z-index: 1
  }
  
  .header__container.fade-in {
    opacity: 1; /* When the element has the "fade-in" class, make it fully visible */
    transform: translateY(0); /* Reset the transform */
  }
/* ================ CTA ================== */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials::after {
    content: '';
    width: 1px;
    height: 4rem;
    background: var(--color-primary);
}


.me {
    /* background: linear-gradient(var(--color-primary),transparent); */
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 2rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
}

.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-size: 0.9rem;
}

.Typist .Cursor--blinking {
    color: var(--color-primary);
    padding-left: 4px;
    font-size: 2.5rem;
  }
  
.intro-name {
    font-family: "NTR", sans-serif;
    color: var(--color-primary);
    font-weight: bold;
  }

.intro-title {
    font-family: "NTR", sans-serif;
    font-size: 2.5rem;
  }

.intro-description {
font-family: "NTR", sans-serif; /* Use the desired font */
font-size: 1.2rem; /* Adjust the font size as needed */
color: rgba(255, 255, 255, 0.7);
text-align: center;
margin-top: 5px; /* Reduce the margin to move it closer to the animation */
letter-spacing: 1px; /* Adjust letter-spacing as needed */
line-height: 1.4; /* Adjust line-height as needed */
}
  
canvas {
    width: 440px !important;
    height: 440px !important;
    display: block;
    margin: 0 auto;  /* Center the canvas */
}

/* ====== MEDIA QUERIES (MEDIUM DEVICES) ======== */
@media screen and (max-width: 1024px) {
    header {
        height: 75vh;
    }
}

/* ====== MEDIA QUERIES (SMALL DEVICES) ======== */
@media screen and (max-width: 600px) {
    header {
        height: 110vh;

    }

    .header__socials,
    .scroll__down {
        display: none;
    }
    
    .intro-description {
        display: none;
    }

}